/* Add background color to the body of my lab calculator webpage assignment. */
body {
    display: flex;
    flex-direction: column;
    background-color: rgb(122, 121, 110);
}

.greeting-container {
    margin-top: 0px;  
    display: flex;
    flex-wrap: wrap;    
    border-top: 50px  rgb(184, 169, 184) solid; 
    border-left: 50px  rgb(184, 169, 184) solid; 
    border-right: 50px  rgb(184, 169, 184) solid; 
    border-bottom: 50px  rgb(184, 169, 184) solid; 
    background-color: rgb(255, 255, 255);    
    margin-top: 55px;     
    
    align-items: center;
    justify-content: center;   
}
  
  .greeting-container > div {
    display: flex;    
    flex: 70%;
    max-width: 70%;    
    background-color: rgb(184, 169, 184);
    border: 10px rgb(228, 227, 207) solid;                               
    font-family: 'Book Antiqua', Times, serif; 
    font-style: italic;
    font-size: 16px;
    text-align: center; 
    color: rgb(255, 255, 255); 
    
    align-items: center;
    justify-content: center;
}







